* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    border: 2px solid #aed2ff;
    border-radius: 4px;

}

.title {
    font-size: 20px;
}

.color-input__container {
    display: flex;
    gap: 1em;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.saved-colors__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.saved-colors__container {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    gap: 0.5em;
}

.saved-color {
    height: 20px;
    width: 20px;
    border-radius: 4px;
}

.clear-button {
    height: 38px;
    background-color: #1e48b2;
}

.reset-button {
    background-color: #1e48b2;

}

.save-button {
    background-color: purple;
}

.clear-button,
.color-input__button {
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(50, 67, 95, 0.709) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    display: inline-flex;
    font-family: sans-serif;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;
    font-weight: bold;
}

.clear-button:focus,
.color-input__button:focus {
    box-shadow: #4169d1 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4169d1 0 -3px 0 inset;
}

.save-button:focus {
    box-shadow: rgb(59, 0, 59) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(59, 0, 59) 0 -3px 0 inset;

}

.clear-button:hover,
.color-input__button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4169d1 0 -3px 0 inset;
}

.save-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(67, 1, 67) 0 -3px 0 inset;

}

.clear-button:active,
.color-input__button:active {
    box-shadow: #4169d1 0 3px 7px inset;
    transform: translateY(2px);
}

.save-button:active {
    box-shadow: rgb(67, 1, 67) 0 3px 7px inset;

}

.auto-clear__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label {
    position: relative;
    background-color: black;

    border-radius: 20px;
    height: 35px;
    width: 70px;
}

.checkbox-label input {
    display: none;
}

.input-slider {
    transition: 0.2s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(252, 0, 0);
    width: 30px;
    height: 30px;
}